li:first-of-type {
  color: crimson;
}
li:last-child {
  color: darkcyan;
}
nav a:nth-child(5) {
  color: darkorange;
}
nav a:nth-of-type(5) {
  color: red;
}
nav .test::first-letter {
  font-size: 24px;
  color: red;
}
nav .test::first-line {
  background-color: royalblue;
}
nav .test::selection {
  color: red;
  background-color: royalblue;
}
