.modal {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-wrapper {
  width: 50vw;
  height: 200px;
  background-color: #f66;
}
.selfadaption-layout {
  width: 200px;
  height: 567px;
}
.selfadaption-layout .box-1 {
  height: 123px;
  background-color: #f66;
}
.selfadaption-layout .box-2 {
  height: 15%;
  background-color: #3c9;
}
.selfadaption-layout .box-3 {
  height: calc(100% - 123px - 15%);
  background-color: #09f;
}
